*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}

.card{
    width: 30vw;
    display: flex;
    border: solid 0.5px gray;
    padding:50px;
    flex-direction: column;
    line-height: 50px;
    border-radius: 2rem;
}
.counter__output{
    font-size: 5rem;
    font-weight: 100;
    color:#739eb6;
}

.card_component{
    display: inline-block;
    margin: 5px;
}
.Link{
    position: static;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #739eb6;
}
.lastLine{
    display: flex;
    justify-content: space-between;
}

